@charset "UTF-8";

@font-face {
    font-family: 'Poppins';
    src: url('font/Poppins/Poppins-Bold.ttf') format('truetype'), url('font/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'Poppins';
    src: url('font/Poppins/Poppins-ExtraLight.ttf') format('truetype'), url('font/Poppins/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: normal;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
}
:root {
    --colorh: #19191a;
    --colorh2: #0c0c0d;
    --colornav: #5683da;
    --colorbtn: #212121;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--colorh2);
}
header {
    background-color: var(--colorh2);
    padding: 20px 100px;
}
header img {
    width: 200px;
}
nav.menu-side {
    width: 50px;
    height: 100%;
    padding: 40px 0 40px 1%;
    background-color: var(--colorh2);
    box-shadow: 3px 0 0 var(--colornav);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .4s;
}
nav.menu-side.expandir{
    width: 300px;
}
.btn-exp {
    width: 100%;
    padding-left: 5px;
}
.btn-exp > i {
    color: white;
    font-size: 25px;
    cursor: pointer;
}
ul {
    height: 100%;
    list-style-type: none;
}
ul li.item-menu {
    transition: .5s;
}
ul li.active{
    background-color: var(--colornav);
}
ul li.item-menu:hover {
    background-color: var(--colornav)
}

ul li.item-menu a {
    color: white;
    text-decoration: none;
    font-size: 10px;
    padding: 10px 15%;
    display: flex;
    line-height: 40px;
}
ul li.item-menu a .txt-link {
    margin-left: 30px;
    font-size: 15px;
    text-wrap: nowrap;
}
ul li.item-menu a .icon > i {
    font-size: 20px;
}

/* ad */
section#ad > img {
    display: flex;
    margin: auto;
    margin-top: 40px;
    width: 1220px;
    height: 150px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}
section#ad > img:hover {
    box-shadow: 0px 0px 5px 2px var(--colornav);
}
section#mini img {
    display: inline-block;
    margin: 20px;
    width: 377px;
    height: 120px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}
section#mini img:hover {
    box-shadow: 0px 0px 5px 2px var(--colornav);
}

/* guide and separator */
section#guide {
    margin-left: 18%;
    color: #5683da;
}
section#guide, h1 {
    font-size: 30px;
    padding-bottom: 25px;
    font-weight: bold;
}
button {
    background-color: var(--colorbtn);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-style: none;
    width: 150px;
    height: 50px;
    font-size: 20px;
    color: white;
}

.img1 {
    cursor: pointer;
    margin-right: 135px;
}
.img1:hover {
    box-shadow: 0px 0px 10px 2px var(--colornav);
}
.img2 {
    height: 250px;
    width: 622px;
    position: absolute;
    cursor: pointer;
    margin-left: -90px;
}
.img2:hover {
    box-shadow: 0px 0px 10px 2px var(--colornav);
}
.img3 {
    height: 250px;
    width: 622px;
    cursor: pointer;
    margin-left: -90px;
}
.img3:hover {
    box-shadow: 0px 0px 10px 2px var(--colornav);
}

#separator {
    border-bottom: 3px solid #09d3ac;
    border-bottom: 3px solid var(--colornav);
    width: 1220px;
}